include AUTHORS.rst
include DESCRIPTION.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt

recursive-include *.so
recursive-include datagrid_gtk3/data *
recursive-include datagrid_gtk3/ui/glade *
